<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}Blutron{% endblock %}</title>

    {% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
         <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <!-- Latest compiled and minified CSS -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
{% set route = app.request.attributes.get('_route') %}

<nav class="navbar navbar-inverse " style="border-radius:0px;border-bottom: 2px solid #f3f3f3">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Blutron</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            {% if is_granted('ROLE_USER') %}
            <ul class="nav navbar-nav">
                {% if is_granted('ROLE_USER') %}
                {% else %}
                <li {{ route=='user_index' ? 'class="active"' }} ><a href="{{ path('user_index') }}">Anasayfa</a></li>
                {% endif %}
                <li {{ route=='file_index' ? 'class="active"' }}><a href="{{ path('file_index') }}">Dosyalar</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="{{ path('user_index') }}">{{ user.name }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('user_settings')}}">Ayarlar</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path('logout')}}">Çıkış</a></li>
                    </ul>
                {% endif%}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">


            {% block body %}{% endblock %}
        </div>
    </div>
</div><!-- /.container -->

{% block javascripts %}



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://use.fontawesome.com/6892e344e3.js"></script>
    {% javascripts 'bundles/app/js/jquery-3.2.1.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts 'bundles/app/js/bootstrap.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@AppBundle/Resources/public/js/main.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}


{% endblock %}


</body>
</html>