.form-control{
    border-radius: 0px;
}
.btn {
    margin-top:15px;
    border-radius: 0px;
}

.panel{
    border-radius: 0px;
}

.panel-heading{
    font-size: 22px;
    font-weight: 600 ;
}
input[type=radio]{
    margin-left: 15px;
    margin-right: 5px;
}