{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    {{ form_start(form, {'attr': {'action': path('change_pass')}}) }}
    {{ form_row(form.password) }}
    {{ form_row(form.newPassword) }}
        <input class="btn btn-primary" type="submit" value="Şifreyi Değiştir">
    {{ form_end(form) }}
{% endblock %}