{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ flash_message }}
        </div>
    {% endfor %}
{{ form_start(form) }}
{{ form_label(form.mail) }}
{{ form_widget(form.mail) }}

{{ form_label(form.username) }}
{{ form_widget(form.username) }}
 <input class="btn btn-primary" type="submit" value="İleri">
{{ form_end(form) }}
{% endblock %}