{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_USER') %}



    {% else %}
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {% for flash_message in app.session.flashbag.get('notice') %}
            <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ flash_message }}
            </div>
        {% endfor %}
        {{ form_start(form) }}

        {{ form_errors(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.password) }}

        <input class="btn btn-primary" type="submit" value="Giris">
        <a class="btn btn-success" href="{{ path('register') }}">Yeni Kullanıcı</a>
        <a class="btn btn-warning" href="{{ path('forget_pass') }}">Şifremi Unuttum</a>

        {{ form_end(form) }}


    {% endif %}
{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}
