{% extends 'AppBundle::base.html.twig' %}

{% block body %}

<a class="btn btn-info" href="{{ path('user_index') }}">Kullanıcı Girişine Geri Dön</a>
    <hr>
{{ form_start(register, {'attr': {'action': path('register'),'novalidate':'novalidate'}}) }}
    {{ form_label(register.name)  }}
    {{ form_widget(register.name) }}
    <b>{{ form_errors(register.name,{'attr': {'class':'text-danger'}}) }}</b>


    {{ form_label(register.username) }}
    {{ form_widget(register.username)}}
    <b>{{ form_errors(register.username)}}</b>

    {{ form_label(register.mail)  }}
    {{ form_widget(register.mail) }}
    <b>{{ form_errors(register.mail) }}</b>

    {{ form_row(register.password) }}
    <b>{{ form_errors(register.password) }}</b>


    {{ form_row(register.city)   }}




    {{ form_row(register.city,{'attr': {'id':'city'}}) }}

    {{ form_label(register.sex) }}
    {{ form_widget(register.sex) }}
    <b> {{ form_errors(register.sex) }}</b>

    {{ form_label(register.maidenName) }}
    {{ form_widget(register.maidenName) }}
    <b> {{ form_errors(register.maidenName) }}</b>



    <input type="submit" class="btn btn-primary" value="Kaydı Tamamla">
{{ form_end(register) }}


{% endblock %}