{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <div class="container">
    <div class="row">
{{ form_start(form) }}
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">Ayarlar</div>
                <div class="panel-body">
                    <h4><b>Paylaşım Ayarları</b></h4>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-6">{{ form_label(form.sharing_enabled) }}</div>
                                <div class="col-md-6">{{ form_widget(form.sharing_enabled) }}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-6">{{ form_label(form.sharing_notification) }}</div>
                                <div class="col-md-6">{{ form_widget(form.sharing_notification) }}</div>
                            </div>
                        </li>
                    </ul>
                    <h4><b>API Ayarları</b></h4>
                    <div class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">{{ form_label(form.api_enabled) }}</div>
                            <div class="col-md-6">{{ form_widget(form.api_enabled) }}</div>
                        </div>
                    </li>
                    </ul>
                    </div>
                </div>
            <div class="panel-footer container-fluid">
               <input type="submit" class="btn btn-primary pull-right">
            </div>
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}