{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-md-8">
                {% for flash_message in app.session.flashbag.get('notice') %}
                    <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ flash_message }}
                    </div>
                {% endfor %}
                <div class="panel panel-default">
                    <div class="panel-heading">Dosyalar</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead class="thead-default">
                            <tr>
                                <th></th>
                                <th>Yükleme Zamanı</th>
                                <th>Dosya Büyüklüğü</th>
                                <th><a class="btn btn-info pull-right" data-toggle="modal" data-target="#sumDownMod">Toplu İndir</a> </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for file in files %}
                                <tr>
                                    <td>
                                    {% if file.fav %}
                                        <span  onclick="fav('{{ file.id }}','{{ path('fav') }}')" class="glyphicon glyphicon-star fav" id="s{{ file.id }}" aria-hidden="true"></span></td>
                                    {% else %}
                                        <span  onclick="fav('{{ file.id }}','{{ path('fav') }}')" class="glyphicon glyphicon-star-empty fav" id="s{{ file.id }}" aria-hidden="true"></span></td>
                                    {% endif %}
                                    <td>{{ file.uploadedAt |date('d.m.Y H:i:s') }} </td>
                                    <td id="filesize">{{ file.fileSize }} Kilobyte</td>
                                    <td>
                                        <a  href="{{ path('download', {'fileId': file.id}) }}" class="btn btn-default" >İndir </a>
                                        <a  class="btn btn-default gndr" data-toggle="modal" data-target="#sentMod" id="{{ file.id }}">Gönder</a>
                                        <a  class="btn btn-default pyls" data-toggle="modal" data-target="#shareMod" id="{{ file.id }}">Paylaş</a>
                                        <a  class="btn btn-danger" data-toggle="modal" data-target="#d{{ file.id }}"> Sil</a> </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <p class="sumFileSize">Toplam {{ sumFileSize }} Kb alan kulalanan {{ countFiles }} dosyanız bulunuyor.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 justify-content-start">
                <div class="panel panel-default">
                    <div class="panel-heading">Dosya Yükle</div>
                    <div class="panel-body">
                        {{  form_start(form, {'attr': {'method': 'post','action': path('file_index')}})}}
                        {{ form_errors(form) }}
                        {{ form_row(form.file) }}

                    </div>
                    <div class="panel-footer container-fluid">
                        <input class="btn btn-primary pull-right"  type="submit" value="Yükle">
                        {{ form_end(form) }}

                    </div>
                </div>



            </div>
        </div>
    </div>



    {% for file in files %}
        <!-- Modal Silme işlemi için-->
        <div class="modal fade" id="d{{ file.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Bu Dosyanın Silinmesini İstiyor musunuz ?</h4>
                    </div>
                    <div class="modal-body">

                        <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                        <a href="{{ path('file_delete', {'id': file.id}) }}"  class="btn btn-danger">Evet</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}



        <!-- Modal Paylaşma işlemi için-->
        <div class="modal fade" id="shareMod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Blutron'a kayıtlı olan bir kullanıcı emaili giriniz</h4>
                    </div>
                    <div class="modal-body">
                        {% block form_row %}
                        {{  form_start(share, {'attr': {'method': 'post','action': path('form')}})}}
                            {{ form_errors(form) }}

                            {{ form_row(share.mail) }}
                            {{ form_row(share.fileId) }}
                        {% endblock form_row %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                        <button type="submit" class="btn btn-primary" >Paylaş</button>
                        {{ form_end(share) }}
                    </div>
                </div>
            </div>
        </div>

    <!-- Gönderme işlemi için -->
    <div class="modal fade" id="sentMod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Gönder</h4>
                </div>
                <div class="modal-body">
                        {{ form_start(sent, {'attr': {'method': 'post','action': path('sent-act'),'novalidate': 'true'}})}}
                        {{ form_row(sent.email) }}
                        {{ form_row(sent.sentFileId) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
                    <button type="submit" class="btn btn-success" >Gönder</button>
                    {{ form_end(sent) }}
                </div>
            </div>
        </div>
    </div>



    <!-- Toplu indirme işlemi için -->
    <div class="modal fade" id="sumDownMod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Toplu İndir</h4>
                </div>
                <div class="modal-body">
                    <form action="{{ path('batch-download') }}" method="post" name="batch">
                            <table class="table table-striped">
                                <thead class="thead-default">
                                <tr>
                                    <th></th>
                                    <th>Yükleme Zamanı</th>
                                    <th>Dosya Büyüklüğü</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for file in files %}
                                    <tr>
                                        <td><input class="check"  type="checkbox" status="1" value="{{ file.id }}"></td>
                                        <td>{{ file.uploadedAt |date('d.m.Y H:i:s') }}</td>
                                        <td>{{ file.fileSize }} Kb</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>

                <input id="batchFiles" type="hidden" value="" name="batchF">
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
                    <button type="submit" class="btn btn-success" >Hazırla</button>
                </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}
